    <div class="container w-50">

        <div class="row">

            <div class="offset-sm-1 col-sm-7">
                <h6 class="p-2"><i class="fas fa-virus text-danger me-2"></i>{{symptomObj?.symptomName}}</h6>
                <hr>
            </div>

            <div class="col-sm-2">    
                <button class="btn btn-primary mt-2" (click)="sendSymptomToParent(symptomObj?.symptomName)"><i class="fas fa-plus-circle me-1"></i>add</button>
            </div>
        </div>
    </div>