<div class="container">

    <!-- Search field -->
    <input type="text" name="title" placeholder="Search hospital by your location" class="form-control mt-4"
    [(ngModel)]= "searchTerm" autocomplete="off">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 mt-4">

        <div class="col" *ngFor="let hospital of hospitals | search:searchTerm | paginate: {itemsPerPage:9, currentPage:p}">
            <div class="col" >
                <div class="card text-center mt-3 mb-3 animate__animated animate__flipInY">
                    <img src={{hospital.profileImage}} width="100%" height="200px" alt="">
                    <div class="card-body text-white">
                        <div class="card-title mt-3" id="hospitalTitle"><h4>{{hospital.hospitalName}} <h6></h6> <h5>({{hospital.hospitalPrice}} per day)</h5></h4></div>
                        <hr class="text-dark">

                        <!-- button for click event -->
                        <button class="btn btn-primary mt-3 mb-3" (click)="onSelectHospital(hospital.hospitalName)"><i class="fas fa-info-circle me-2"></i>Hospital Info</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- pagination -->
<pagination-controls (pageChange)="p=$event" class="text-center"></pagination-controls>