input
{
    border-radius: 20px;
}
#hospitalTitle
{
    color: rgb(204, 22, 22);
    font-family: 'Merriweather', serif;
}
.card:hover
{
    transform: scale(1.05);
}
@media screen and (min-width:150px) and (max-width:577px) 
{
    .card
    {
        width: 80%;
        display: block;  
        margin-left: auto;  
        margin-right: auto;  
    }
}
.card-body
{
    background-color: rgb(252, 252, 252);
}

h5
{
    color: tomato;
}